button-primary{
    color: #fff;
    background-color: #ce4500;
    border: none;
    border-radius: 9px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button-primary:hover {
    background-color: #da5c00;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.1);
}

button-secondary{
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button-secondary:hover {
    background-color: #555;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.1);
}

/* Filters wrapper */
.filters-wrapper{
    display: flex;
    gap: 10px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid #a5a5a5;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px; 
}

.buttons-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Responsive */
@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}

/* Skeleton loading */
.skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.skeleton-img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.skeleton-text {
    height: 20px;
    margin: 10px 0;
    border-radius: 4px;
}

.skeleton-button {
    height: 36px;
    width: 100%;
    margin: 5px 0;
    border-radius: 4px;
}

.pagination-dots {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 4px;
    color: #666;
}

.hidden {
    display: none;
}